<div class="boring-dialog dialog" id="login-dialog">
	<div class="dialog-head">
		<h2 class="dialog-title">登录</h2>
	</div>
	<div class="dialog-body">
		<form class="form form-block">
			<label class="form-field">
				<div class="form-field-label">用户名 / E-mail：</div>
				<input type="text" class="form-field-input" required />
			</label>
			<label class="form-field">
				<div class="form-field-label">密码：</div>
				<input type="password" class="form-field-input" required />
			</label>
			<div class="justify">
				<label>
					<input type="checkbox" />
					<span>记住登录状态</span>
				</label>
				<button class="btn">登录</button>
			</div>
		</form>
	</div>
</div>

<div class="boring-dialog dialog" id="reg-dialog">
	<div class="dialog-head">
		<h2 class="dialog-title">注册</h2>
	</div>
	<div class="dialog-body">
		<form class="form form-block">
			<label class="form-field">
				<div class="form-field-label">邀请码：</div>
				<input type="text" class="form-field-input" required />
			</label>
			<label class="form-field">
				<div class="form-field-label">用户名：</div>
				<input type="text" class="form-field-input" required />
			</label>
			<label class="form-field">
				<div class="form-field-label">E-mail：</div>
				<input type="email" class="form-field-input" required />
			</label>
			<label class="form-field">
				<div class="form-field-label">密码：</div>
				<input type="password" class="form-field-input" required />
			</label>
			<div class="justify">
				<label>
					<input type="checkbox" checked />
					<span>同意并接受《服务条款》</span>
				</label>
				<button class="btn">注册</button>
			</div>
		</form>
	</div>
</div>