@import 'var.css';



html {
	font-size: var(--root-font-size);
	font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
	color: var(--text-color);
}

a {
	color: var(--blue);
}



:focus {
	outline: none;
}



.wrap {
	max-width: 1200px;
	min-width: 960px;
	margin: auto;
}



.btn {
	height: 2.5em;
	color: white;
	background: var(--blue);
	padding: 0 1em;
	transition: 0.2s;
}
.btn:hover {
	box-shadow: inset 999px 999px rgba(255,255,255,0.1);
}



.header {
	line-height: var(--logo-height);
	color: var(--text-lv2-color);
	padding: 25px 0;
}

.logo {
	float: left;
	height: var(--logo-height);
	margin-right: 4.6%;
}

.nav,
.nav-item {
	float: left;
}
.nav-link {
	display: block;
	color: inherit;
	padding: 0 1em;
	transition: 0.15s;
}
.nav-link:hover {
	text-decoration: none;
	color: var(--blue);
}

.user {
	float: right;
}
.user-avatar {
	width: 50px;
	height: 50px;
	vertical-align: middle;
	border-radius: 50%;
	margin-right: 0.5em;
}
.user-logout {
	position: relative;
}
.user-logout:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 1px;
	height: 1.3em;
	background: currentColor;
	margin: auto;
}



.footer {
	text-align: center;
	color: var(--text-lv2-color);
	padding: 35px 0;
}
.beian {
	text-decoration: underline;
}



label.form-field {
	display: block;
	margin-bottom: 1em;
}
.form-field-label,
.form-field-input-wrap {
	display: inline-block;
}
.form-field-label {
	width: 4em;
	text-align: right;
}
.form-field-input {
	height: 2.5em;
	border: 1px solid var(--border-color);
	padding: 0 0.5em;
	transition: 0.2s;
}
.form-field-input:focus {
	border-color: var(--blue);
}

.form-block .form-field-label,
.form-block .form-field-input-wrap {
	display: block;
}
.form-block .form-field-label {
	width: auto;
	text-align: left;
	margin-bottom: 0.5em;
}
.form-block .form-field-input {
	width: 100%;
}



.dialog {
	min-width: 25em;
	background: white;
}
.dialog-head,
.dialog-body {
	padding: 1em 1.5em;
}
.dialog-head {
	text-align: center;
	border-bottom: 1px solid var(--border-color);
}
.dialog-title {
	font-size: 1.5em;
	color: var(--text-lv2-color);
}