@import 'var.css';



.focus {
	height: 425px;
}
.focus-img {
	display: block;
	max-width: none;
	height: 100%;
	margin: auto;
}



.section {
	text-align: center;
	padding: 90px 0 180px;
}
.section-title {
	font-size: 2.7em;
	margin-bottom: 1.7em;
}



.section-class {
	background: url(../img/wave.png) no-repeat center 95% #e0f7ff;
}
.section-class .section-title {
	position: relative;
}
.section-class .section-title:before,
.section-class .section-title:after {
	content: "";
	position: absolute;
	bottom: -0.3em;
	width: 85px;
	height: 109px;
	background: no-repeat center;
}
.section-class .section-title:before {
	right: 50%;
	background-image: url(../img/tree-1.png);
	margin-right: 2.5em;
}
.section-class .section-title:after {
	left: 50%;
	background-image: url(../img/tree-2.png);
	margin-left: 2.5em;
}

.class-item {
	width: 22%;
	margin: 0 2%;
}
.class-icon {
	display: inline-block;
	width: 160px;
	height: 160px;
	background: var(--light-blue);
	border-radius: 50%;
	margin-bottom: 1em;
}
.class-head {
	margin-bottom: 2em;
}
.class-name {
	font-size: 2em;
}
.class-scope {
	font-size: 1.15em;
}



.section-service {
	background: url(../img/triangles.png) no-repeat center #fff273;
}

.service-item {
	width: 23%;
	height: 22em;
	border-top: 1px solid;
	background: no-repeat center 80% white;
	padding: 3em 2.4em;
	margin: 0 0.625%;
	transition: 0.3s ease-in-out;
}
.service-title {
	font-size: 1.29em;
	margin-bottom: 1.6em;
}
.service-intro {
	color: var(--text-lv3-color);
}

.service-refund {
	border-color: #f5a623;
	background-image: url(../img/money.png);
}
.service-agreement {
	border-color: #7ed321;
	background-image: url(../img/note.png);
}
.service-platform {
	border-color: var(--blue);
	background-image: url(../img/screen.png);
}
.service-textbook {
	border-color: #f76e7f;
	background-image: url(../img/book.png);
}

.service-item:hover {
	box-shadow: 0 0.5em 1em rgba(0,0,0,0.1);
	transform: translateY(-3px);
}



.section-teacher {
	color: white;
	background: url(../img/facewall.jpg) no-repeat;
	background-size: cover;
}
.section-teacher .section-title,
.teacher-feature-title {
	color: #ded6ad;
}
.section-teacher .section-title {
	font-size: 3.2em;
	margin-bottom: 1em;
}

.teacher-features-list {
	font-size: 1.15em;
}
.teacher-feature-item {
	width: 19%;
	margin: 0 2%;
}
.teacher-feature-title {
	font-size: 1.5em;
	margin-bottom: 1em;
}
.teacher-feature-title-num {
	font-size: 2em;
}